
<div class="page-container">
    
<!-- --------------------------------------------------------------------------
    HEADINGS
------------------------------------------------------------------------------>

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<!-- --------------------------------------------------------------------------
    TEXT BLOCKS
------------------------------------------------------------------------------>

<p>
    This is a paragaraph...
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<blockquote>
    This is an example quotation that uses the blockquote tag.
</blockquote>

<pre>    
    <code>
    int main(int argc, char **argv) {{ '{' }}
        return 0;
    {{ '}' }}
    </code>
</pre>

<!-- --------------------------------------------------------------------------
    BUTTONS
------------------------------------------------------------------------------>


<h1>Buttons</h1>
<a href="#" class="m1 btn primary">Primary</a>
<a href="#" class="m1 btn secondary">Secondary</a>
<a href="#" class="m1 btn info">Info</a>
<a href="#" class="m1 btn success">Success</a>
<a href="#" class="m1 btn warning">Warning</a>
<a href="#" class="m1 btn danger">Danger</a>
<a href="#" class="m1 btn light">Light</a>
<a href="#" class="m1 btn dark">Dark</a>
<h1>Button Outlined</h1>
<a href="#" class="m1 btn outline primary">Primary</a>
<a href="#" class="m1 btn outline secondary">Secondary</a>
<a href="#" class="m1 btn outline info">Info</a>
<a href="#" class="m1 btn outline success">Success</a>
<a href="#" class="m1 btn outline warning">Warning</a>
<a href="#" class="m1 btn outline danger">Danger</a>
<a href="#" class="m1 btn outline light">Light</a>
<a href="#" class="m1 btn outline dark">Dark</a>
<h1>Button sizes</h1>
<a href="#" class="m1 btn sm">Button Smaller</a>
<a href="#" class="m1 btn">Button Default</a>
<a href="#" class="m1 btn lg">Button Larger</a>
<h1>Button Outline sizes</h1>
<a href="#" class="m1 btn outline sm">Button Outline Smaller</a>
<a href="#" class="m1 btn outline">Button Outline Default</a>
<a href="#" class="m1 btn outline lg">Button Outline Larger</a>
<h1>Buttons with Icons</h1>
<a href="#" class="m1 btn">No Icon</a>
<a href="#" class="m1 btn"><i class="material-icons">home</i>With Icon</a>
<a href="#" class="m1 btn">With Icon<i class="material-icons">home</i></a>
<a href="#" class="m1 btn"><i class="material-icons">home</i></a>
<h1>Block buttons</h1>
<a href="#" class="m1 btn block">Primary</a>
<a href="#" class="m1 btn block">Secondary</a>
<a href="#" class="m1 btn block">Info</a>

<br/><br/><br/>

<!-- --------------------------------------------------------------------------
    DROPDOWN
------------------------------------------------------------------------------>

<h1>Dropdown</h1>
<div class="dropdown">
    <button class="btn">Dropdown</button>
    <div class="menu">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </div>
</div>

<!-- --------------------------------------------------------------------------
    NAVBAR
------------------------------------------------------------------------------>
<hr/>
<h1>Navbar</h1>
<hr/>

<nav class="m1 navbar">
    <a class="navicon hover" href="#"><i class="material-icons">menu</i></a>
    <div class="navbrand">ARC ADMIN</div>
    <div class="navitem-grow"></div>
    <a class="navlink hover" href="#"><i class="material-icons">home</i>Home</a>
    <a class="navlink hover" href="#"> Search</a>
    <a class="navlink hover" href="#">Contact</a>
    <a class="navlink hover" href="#">Login</a>
</nav>
<br />
<nav class="m1 navbar primary">
    <a class="navicon hover" href="#"><i class="material-icons">menu</i></a>
    <div class="navbrand">ARC ADMIN</div>
    <div class="navitem-grow"></div>
    <a class="navlink hover" href="#"><i class="material-icons">home</i>Home</a>
    <a class="navlink hover" href="#"> Search</a>
    <a class="navlink hover" href="#">Contact</a>
    <a class="navlink hover" href="#">Login</a>
</nav>

<br />
<nav class="m1 navbar secondary">
    <a class="navicon hover" href="#"><i class="material-icons">menu</i></a>
    <div class="navbrand">ARC ADMIN</div>
    <div class="navitem-grow"></div>
    <a class="navlink hover" href="#"><i class="material-icons">home</i>Home</a>
    <a class="navlink hover" href="#"> Search</a>
    <a class="navlink hover" href="#">Contact</a>
    <a class="navlink hover" href="#">Login</a>
</nav>

<br />
<nav class="m1 navbar info">
    <a class="navicon hover" href="#"><i class="material-icons">menu</i></a>
    <div class="navbrand">ARC ADMIN</div>
    <div class="navitem-grow"></div>
    <a class="navlink hover" href="#"><i class="material-icons">home</i>Home</a>
    <a class="navlink hover" href="#"> Search</a>
    <a class="navlink hover" href="#">Contact</a>
    <a class="navlink hover" href="#">Login</a>
</nav>

<br />
<nav class="m1 navbar success">
    <a class="navicon hover" href="#"><i class="material-icons">menu</i></a>
    <div class="navbrand">ARC ADMIN</div>
    <div class="navitem-grow"></div>
    <a class="navlink hover" href="#"><i class="material-icons">home</i>Home</a>
    <a class="navlink hover" href="#"> Search</a>
    <a class="navlink hover" href="#">Contact</a>
    <a class="navlink hover" href="#">Login</a>
</nav>

<br />
<nav class="m1 navbar warning">
    <a class="navicon hover" href="#"><i class="material-icons">menu</i></a>
    <div class="navbrand">ARC ADMIN</div>
    <div class="navitem-grow"></div>
    <a class="navlink hover" href="#"><i class="material-icons">home</i>Home</a>
    <a class="navlink hover" href="#"> Search</a>
    <a class="navlink hover" href="#">Contact</a>
    <a class="navlink hover" href="#">Login</a>
</nav>

<br />
<nav class="m1 navbar danger">
    <a class="navicon hover" href="#"><i class="material-icons">menu</i></a>
    <div class="navbrand">ARC ADMIN</div>
    <div class="navitem-grow"></div>
    <a class="navlink hover" href="#"><i class="material-icons">home</i>Home</a>
    <a class="navlink hover" href="#"> Search</a>
    <a class="navlink hover" href="#">Contact</a>
    <a class="navlink hover" href="#">Login</a>
</nav>

<br />
<nav class="m1 navbar light">
    <a class="navicon hover" href="#"><i class="material-icons">menu</i></a>
    <div class="navbrand">ARC ADMIN</div>
    <div class="navitem-grow"></div>
    <a class="navlink hover" href="#"><i class="material-icons">home</i>Home</a>
    <a class="navlink hover" href="#"> Search</a>
    <a class="navlink hover" href="#">Contact</a>
    <a class="navlink hover" href="#">Login</a>
</nav>

<nav class="m1 navbar dark">
    <a class="navicon hover" href="#"><i class="material-icons">menu</i></a>
    <div class="navbrand">ARC ADMIN</div>
    <div class="navitem-grow"></div>
    <a class="navlink hover" href="#"><i class="material-icons">home</i>Home</a>
    <a class="navlink hover" href="#"> Search</a>
    <a class="navlink hover" href="#">Contact</a>
    <a class="navlink hover" href="#">Login</a>
</nav>



<nav class="m1 navbar dark sm">
    <a class="navicon hover" href="#"><i class="material-icons">menu</i></a>
    <div class="navbrand">Navbar smaller</div>
    <div class="navitem-grow"></div>
    <a class="navlink hover" href="#"><i class="material-icons">home</i>Home</a>
    <a class="navlink hover" href="#"> Search</a>
    <a class="navlink hover" href="#">Contact</a>
    <a class="navlink hover" href="#">Login</a>
</nav>

<!-- --------------------------------------------------------------------------
    CARDS
------------------------------------------------------------------------------>

<hr/>
<h1>Card</h1>
<hr/>

<div class="m1 card">
    Hello world
</div>
<br />
<div class="m1 card">
    <div class="content">
        hello world
    </div>
</div>

<div class="m1 card rounded border">
    <nav class="navbar dark">
        <a class="navicon hover" href="#"><i class="material-icons">menu</i></a>
        <div class="navbrand">ARC ADMIN</div>
        <div class="navitem-grow"></div>
        <a class="navlink hover" href="#"><i class="material-icons">home</i>Home</a>
        <a class="navlink hover" href="#"> Search</a>
        <a class="navlink hover" href="#">Contact</a>
        <a class="navlink hover" href="#">Login</a>
    </nav>
    <div class="content">
        hello world
    </div>
</div>
   
<!-- --------------------------------------------------------------------------
    LIST GROUP
------------------------------------------------------------------------------>

<hr/>
<h1>List Group</h1>
<hr/>

<div class="m1 card">
    <ul class="list-group">
        <li class="list-item hoverable">Cras justo odio</li>
        <li class="list-item hoverable">Dapibus ac facilisis in</li>
        <li class="list-item hoverable">Morbi leo risus</li>
        <li class="list-item hoverable">Porta ac consectetur ac</li>
        <li class="list-item hoverable">Vestibulum at eros</li>
    </ul>
</div>

<br/>
<div class="m1 card">
    <ul class="list-group">
        <li class="list-item border-bottom">
            <div class="flex">
                <div class="h3 flex-auto">List group item heading</div>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
        </li>
        <li class="list-item border-bottom">Dapibus ac facilisis in</li>
        <li class="list-item border-bottom">Morbi leo risus</li>
    </ul>
</div>

</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>

